@tailwind base;
@tailwind components;
@tailwind utilities;

/*html, body {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Pretendard', Arial, sans-serif;
}

@font-face {
  font-family: 'Galmuri9';
  src: url("src/fonts/Galmuri9.ttf");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "Galmuri9", monospace;
}

@font-face {
  font-family: 'Galmuri7';
  src: url("src/fonts/Galmuri7.ttf");
  font-weight: normal;
  font-style: normal;
}

.content {
  font-family: "Galmuri7", monospace;
}

button {
  margin: 5px;
}

input {
  margin: 5px;
}

subtitlebar {
  padding: 5px;
  margin: 5px;
}